---
import Layout from "@layouts/Layout.astro";
import BlogCard from "@components/BlogCard.astro";
import { Icon } from "astro-icon";
interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
  contributedBy: string;
}

const metadata = {
  title: "Angular Snippets",
  description: "A collection of Angular snippets",
};

let blogs = await Astro.glob<Frontmatter>("./snippets/*.mdx");
blogs = blogs.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<Layout {...metadata}>
  <section class="flex flex-col sm:flex-row justify-evenly items-center py-14">
    <div class="w-32 m-5 md:m-10 my-10">
         <Icon class="h-8 md:h-12" name="simple-icons:angular" />
    </div>
    <header class="max-w-xl sm:order-first">
      <h1
        class="text-2xl sm:text-3xl font-bold mb-7 md:mb-5 text-center sm:text-left"
      >
        Welcome to Angular Snippets, add a snippet and help community
      </h1>
      <p class="text-black dark:text-zinc-300 mb-5">
        There are some code snippets which you may have created and want to
        share with the world!
      </p>
      <p class="text-black dark:text-zinc-300">
        This is the place to share your code snippets with the world. You can
        add your own snippets and help the community.
      </p>
    </header>
  </section>
  <section class="py-14">
    <h1 class="text-2xl sm:text-3xl font-bold mb-5">Recent Snippets</h1>
    <p class="text-black dark:text-zinc-300 mb-2">
      Looking for all snippets? Click the "snippets" or the "Show more snippets"
      link down below.
    </p>
    <ul class="flex flex-col justify-center py-5">
      {
        blogs.length >= 1 &&
          blogs
            .slice(0, 2)
            .map((post) => (
              <BlogCard
                title={post.frontmatter.title}
                description={post.frontmatter.description}
                pubDate={post.frontmatter.pubDate}
                url={post.url}
                contributedBy={post.frontmatter.contributedBy}
              />
            ))
      }
    </ul>
    <div class="text-center dark:text-zinc-300 text-zinc-200 mt-5">
      <a
        class="flex items-center dark:bg-zinc-800 bg-zinc-200 dark:ring-zinc-700 hover:ring-2 ring-zinc-300 transition-all dark:text-white flex-col m-2 p-2 rounded-xl text-black"
        href="/snippets">Show more snippets</a
      >
    </div>
  </section>
</Layout>
